<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>INSIGHTLY</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=AH_SuperDuper%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sk-Modernist%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Newake%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=WILD+WORLD%3A700"/>
  <link rel="stylesheet" href="../static/styles/index.css">
  <link rel="shortcut icon" href="../static/assets/logo.png" type="image/x-icon">
</head>
<body>
<div class="desktop-1-SD5">
  <div class="rectangle-3-SMV">
  </div>
  <div>
    <div class="fishbowl-vGf">IN<span style="color: #a3fc4a;">SIGHTLY</span></div>
    <div class="frame-1-iiK">
      <a><div class="group-1-Cmu">Log In</div></a>
      <a><div class="group-2-pYP">Sign Up</div></a>
    </div>
    <div class="frame-3-pwh">
      <a href="/" ><div class="group-1-wmR">Explore</div></a>
      <a><div class="group-2-Bfm">Contact Us</div></a>
    </div>
    <div class="frame-2-eZM">
      <a><div class="home-NkF">HOME</div></a>
      <a><div class="about-us-gW3">ABOUT US</div></a>
      <a href="/services"><div class="services-mXV">SERVICES</div></a>
    </div>
  </div>

  <img class="wave-sphere-VCb" src="../static/assets/wave-sphere-UcP.png"/>
  <div class="rectangle-1-QaT">
  </div>
  <div class="group-3-5Rh">
    <div class="visionary-shark-tank-inspired-idea-based-on-leveraging-ai-for-mentoring-tracking-the-business-vDM">
      Visionary Shark Tank inspired 
      <br/>
      Idea based on leveraging 
      <br/>
      AI for mentoring/tracking the business.
    </div>

    <div class="oh-hum-bhi-bana-lenge-1aF">
      <span class="oh-hum-bhi-bana-lenge-1aF-sub-0">
      OH HUM BHI 
      <br/> 
      <span class="oh-hum-bhi-bana-lenge-1aF-sub-1">BANA</span>
      <span class="oh-hum-bhi-bana-lenge-1aF-sub-2"> LENGE!</span>

      </span>
      
    </div>
    
    <div class="business-roadmap-ai-mentors-idea-maker-case-studies-b-plan-educators-Psd">
    Business Roadmap | AI Mentors |
    <br/>
    Idea Maker | 
    <br/>
    Case studies &amp; B-plan educators
    </div>
  </div>

</div>
</body>