<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../static/assets/BizInsightsLogo.png" type="image/x-icon">
  <title>services@BIZINSIGHTS</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- Custom styles for this template -->
  <link href="../static/styles/services.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/styles/responsive_services.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <!-- end header section -->
    <!-- slider section -->
    <a id="home" href="/">
      <span class="material-symbols-outlined">
        home
      </span>
      Home
    </a>
    <section class=" slider_section position-relative">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 offset-md-2">
            <div class="slider_heading">
              <h2>
                BIZ <span>INSIGHTS</span>
              </h2>
            </div>
          </div>
          <div class="col-md-8 mx-auto">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="box">
                    <div class="detail-box align-items-center">
                      <h1 >
                        AI <br />
                        Mentors
                      </h1>
                      <hr />
                      <div class="btn-box">
                        <a href="#ai" class="btn-1">
                          Explore
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="box">
                    <div class="detail-box">
                      <h1>
                        Business <br />
                        Roadmap
                      </h1>
                      <hr />
                      <div class="btn-box">
                        <a href="#midsec" class="btn-1">
                          Explore
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="box">
                    <div class="detail-box">
                      <h1>
                        Idea <br />
                        Maker
                      </h1>
                      <hr />
                      <div class="btn-box">
                        <a href="#midsec" class="btn-1">
                          Explore
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding" id="ai">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 ml-auto pr-0">
          <div class="about_container">
            <div class="row">
              <div class="col-lg-3 col-md-5">
                <div class="detail-box">
                  <div class="heading_container">
                    <h2>
                      AI MENTORS
                    </h2>
                  </div>
                  <p>
                    Shark Tank inspired reverse prompt game where the bot mentor gives a prompt and the user has to answer the prompt.. Points will be given on basis of answer.. Will help in improving pitching.
                  </p>
                  <hr />
                  <a href="/pitch">
                    Explore
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- class section -->

  

  <!-- end class section -->


  <!-- blog section -->

  <section class="blog_section layout_padding" id="midsec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 pl-0">
          <div class="box b1">
            <div class="img-box">
              <img src="../static/assets/327574-P9TUXB-234.jpg" alt="">
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10 ml-auto">
                <div class="detail-box">
                  <div class="img_date">
                    <h6>
                       <img src="../static/assets/Increase Profits.png">
                      
                    </h6>
                  </div>
                  <h3>
                    BUSINESS ROADMAP
                  </h3>
                  <p>
                    Factors contributing to successful startups and businesses and general business topics for study, progress tracker .
                  </p>
                  <a href="/roadmap">
                    Explore
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 pr-0">
          <div class="box b2">
            <div class="img-box">
              <img src="../static/assets/fresh-ideas-creative-innovation-light-bulb.jpg" alt="">
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10 mr-auto">
                <div class="detail-box">
                  <div class="img_date">
                    <h6>
                        <img src="../static/assets/Increase Profits.png">
                    </h6>
                  </div>
                  <h3>
                    IDEA MAKER
                  </h3>
                  <p>
                    Will give u ideas for name, tagline, color palette for logos and sites, market trends and list of your competitors, and a generalized revenue plan.
                  </p>
                  <a href="/model">
                    Explore
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end blog section -->

  

  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>

  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style");
    }
  </script>

  <!-- owl carousel script -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 2
        }
      }
    });


    $(".owl_carousel1").owlCarousel({
      loop: true,
      margin: 25,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 2
        }
      }
    });
  </script>
  <!-- end owl carousel script -->

  <script>
    /** google_map js **/

    function myMap() {
      var mapProp = {
        center: new google.maps.LatLng(40.712775, -74.005973),
        zoom: 18,
      };
      var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }
  </script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->


</body>

</html>